*{
    background-color:#FB6B6B;
    box-sizing: border-box;
}

h1{
    font-family: 'Righteous', cursive;
}

h2, h3, h4, h5, h6 {
    font-family: 'Recursive', cursive;
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 70px;
}

.frame > img {
    padding-bottom: 20px;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.button{
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    color: #D70900;
    cursor: pointer;
}

.start{
    justify-content: flex-start;
}

.work-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 48px;
}

.work-title > img{
    margin-bottom: 23px;
    margin-right: 15px;
}

.question, .done-red, .done-green, .done-yellow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

ion-icon[name="play-outline"]{
    width: 24px;
    height: 28px;
    background-color: #FFFFFF;
    color: #333333;
    margin-right: 22px;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    background-color: #FFFFFF;
    margin-left: 15px;
}

.card{
    width: 299px;
    height: 131px;
    margin-top: 25px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    background: #FFFFD5;
    margin-top: 15px;
    margin-left: 15px;
}

.card img{
    position: absolute;
    bottom: 6px;
    right: 15px;
    background: #FFFFD5;
}

.card-answer{
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFD5;
}

.vermelha, .amarela, .verde {
    width: 85.17px;
    height: 37.17px;
    background: #FF3030;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.vermelha h5, .amarela h5, .verde h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.vermelha {
    background-color: #FF3030;
}

.vermelha h5 {
    background-color: #FF3030;
}

.amarela{
    background-color: #FF922E;
}

.amarela h5 {
    background-color: #FF922E;
}

.verde {
    background-color:  #2FBE34;
}

.verde h5 {
    background-color:  #2FBE34;
}

.done-red ion-icon , .done-green ion-icon , .done-yellow ion-icon {
    width: 23px;
    height: 23px;
    margin-right: 22px;
    background-color: #FFFFFF;
}

.done-red ion-icon, .done-red h3{
    color: #FF3030;
    text-decoration: line-through;
}
.done-yellow ion-icon, .done-yellow h3{
    color: #FF922E;
    text-decoration: line-through;
}
.done-green ion-icon, .done-green h3{
    color: #2FBE34;
    text-decoration: line-through;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 1;
}

.footer h2 {
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.footer h2:nth-child(4) {
    margin-top: 15px;
}

.footer-icon{
    background-color: #FFFFFF;
    display: flex;
    margin-bottom: 5px;
}

.footer-icon ion-icon{
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    margin-right: -1px;
}


ion-icon[name = "close-circle"]{
    color: #FF3030;
}

ion-icon[name = "help-circle"]{
    color: #FF922E;
}

ion-icon[name = "checkmark-circle"]{
    color: #2FBE34;
}

.well{
    display: flex;
    margin: 15px;
    background-color: #FFFFFF;
}

.well img {
    background-color:#FFFFFF ;
    margin-right: 5px;
}

h6{
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}